*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(87, 87, 161);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}